
.group-slide {
    padding-top: 90px;
}
.thumb > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.gnb {
    padding: 0 12px;
    position: fixed;
    top: 48px;
    z-index: 9999;
    color: #fff;
    background: #fff;
    max-width: 1025px;
    width: 100%;
}
.gnb .top-tab-list {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.gnb .top-tab-list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.gnb .top-tab-list .top-tab-item{
    padding: 12px 12px 0 12px;
    font-size: 16px;
    color: #868e96;
    font-family: var(--font-ps);
}
.gnb .top-tab-list .on {
    color: #000;
}
.gnb .top-tab-list .on::after {
    content: '';
    border-bottom: #000 2px solid;
    display: block;
    padding-top: 12px;
}
.gnb .top-tab-list .free {
    color: #4f04ff;
}

.gnb-bottom {
    position: fixed;
    bottom: 0;
    background: #fff;
    z-index: 9999;
    max-width: 1025px;
    width: 100%;
}
.gnb-bottom{
    display: flex;
    justify-content: space-between;
}
.gnb-bottom a{
    flex:1;
    display: block;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7px 0 6px;
    font-size: 11px;
    font-family: var(--font-ps);
    color: #868e96;
}
.gnb-bottom svg {
    margin: 0 0 6px;
} 
.group-slide {

}
.group-slide .swiper{
    max-width: 480px;
    max-height: 480px;
    position: relative;
}
.group-slide .swiper .swiper-wrapper{
    position: relative;
}
.group-slide .swiper .swiper-wrapper .swiper-slide{

}
.group-slide .swiper .swiper-wrapper .swiper-slide::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(1turn,rgba(0,0,0,.5) -22.4%,transparent 58.53%);
    z-index: 10;
}
.group-slide .swiper .swiper-wrapper .swiper-slide a{
    display: block;
    position: relative;
}
.group-slide .swiper-slide a{}
.group-slide .swiper-slide a img{

}
.group-slide .swiper-slide a .text-box{
    position: absolute;
    left: 5%;
    bottom: 10%;
    z-index: 999;
}
.group-slide .swiper-slide a .text-box p{
    font-size: 32px;
    line-height: 35px;
    font-family: var(--font-ps);
    color: #fff;
}
.group-slide .swiper-slide a .text-box span{
    font-size: 15px;
    color: #fff;
    font-family: var(--font-pm);
    margin-top: 18.5px;
    line-height: 20px;
    display: block;
}

.swiper .pagination {
    position: absolute;
    bottom: 5%;
    right: 5%;
    display: block;
    width: 72px;
    height: 22px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    border-radius: 50px;
}
.swiper .pagination .fraction{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    width: auto;
}
.swiper .pagination .fraction .swiper-pagination-current {
    font-weight: 700;
    color: #fff;

}
.swiper .pagination svg{
    color: #fff;
    margin: 0 0 0 4px;
}

.sc-category{
    overflow: scroll;
    overflow-y: hidden;
    margin-top: 16px;
    height: 100px;
}
.sc-category .category-list{
    display: flex;
    gap: 20px;
    margin: 0 10px;
}
.sc-category .category-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sc-category .category-item a{
    width: 62px;
}
.horizoncategory-img-container {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-item .live-container {
    background: #fff0f0;
    border-radius: 15px;
}
.category-item .live-img-container img {
    width: 32px;
    height: 32px;
}
.sc-category .horizoncategory{}
.sc-category .horizoncategory .horizoncategory-new{
    width: 21px;
    height: 16px;
    background: #536dfe;
    font-weight: 700;
    font-size: 10px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    line-height: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
}
.sc-category .horizoncategory-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sc-category .horizoncategory-icon{
    display: flex;
    justify-content: center;align-items: center;
}
.sc-category .horizoncategory-icon svg{}
.sc-category .horizoncategory-new{

}
.sc-category .category-text{
    text-align: center;
    font-size: 13px;
    font-family: var(--font-pm);
    margin-top: 6px;
}
.horizoncategory .cate-container {
    position: relative;
    height: 62px;
}
.horizoncategory .cate-icon {
    width: 37.6px;
    height: 37.6px;
    border: 1px #ddd solid;
    border-radius: 12px;
}
.horizoncategory .cate-icon svg {

}
.sc-product h2, .sc-time-sale h2, .sc-mans-summer h2, .sc-summer-clearance h2, .sc-recommend-product h2, .sc-slider-banner h2 {
    font-size: 20px;
    font-family: var(--font-ps);
    margin: 0 16px;
}

.sc-product {
    margin-top: 46px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.sc-product > p {
    color: #adb5bd;
    font-size: 14px;
    font-family: var(--font-ps);
    margin: 8px 16px 16px;
}
.sc-product .product-container{
    padding: 8px 16px 20px 16px;
    display: inline-block;
}
.sc-product .product-container .product-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.sc-product .product-item .thumb {
    width: 100%;
    min-width: 192px;
    min-height: 192px;
    aspect-ratio: 1 / 1;
    position: relative;
}


.sc-product .product-item .thumb svg {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.textbox {
    font-family: var(--font-ps);
    color: #000000;
    margin-top: 6px;
}
.textbox .shopname{
    margin: 0 0 8px;
    font-size: 14px;
}
.text-box .shop-title {
    
}
.textbox .coupon{
    color: #E4503c;
    font-size: 12px;
    margin: 4px 0 0;

}
.textbox .dc-rate{
    margin: 0 6px 0 0;
    color: #e45a47;
    font-size: 18px;
}
.textbox .price{
    font-size: 18px;
}

.sc-time-sale h2 {
    margin: 56px 16px 0;
}
.sc-time-sale .timer-con {
    font-size: 18px;
    font-family: var(--font-ps);
    margin: 3px 16px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.sc-time-sale .timer-con .more {
    color: #868e96;
    font-size: 15px;
}
.sc-time-sale .timer-con .timer {}
.sc-time-sale .timer-con .timer strong {
    color: #4864ff;
}
.sc-time-sale .timer-con .timer span {
    color: #adb5bd;
    margin-left: 3px;
}

.sc-time-sale .salebanner {
    display: flex;
    align-items: center;
    height: 68.5px;
    background: #f8f9fb;
    border-radius: 10px;
    padding: 14px 16px;
    margin: 0 16px 20px;
}
.sc-time-sale .salebanner .thumb {
    width: 36px;
    height: 36px;
    
}
.sc-time-sale .salebanner .thumb img {
    border-radius: 3px;
}
.sc-time-sale .salebanner .textbox {
    margin-left: 10px;
    width: 368px;
    transform: translateY(-10%);
}
.sc-time-sale .salebanner .textbox p {
    font-size: 14px;

}
.sc-time-sale .salebanner .textbox em {
    color: #4864ff;
}
.sc-time-sale .salebanner .textbox .textbox-info {
    font-size: 13px;
    font-family: var(--font-pt);
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.sc-time-sale .salebanner .textbox .textbox-info p {
    color: #495057;
    font-family: var(--font-pt);
    
}
.sc-time-sale .salebanner .textbox .textbox-info p b {
    font-weight: 700;
}
.sc-time-sale .salebanner .textbox .textbox-info .order-time {
    color: #adb5bd;
}

.sc-time-sale .product-container .product-list {
    padding: 0 16px;
}

.sc-time-sale .product-container .product-list {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 10px;
}

.sc-time-sale .product-container .product-list .thumb {
    width: 240px;
    height: 288px;
    position: relative;
}
.sc-time-sale .product-container .product-list .thumb svg {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.prd{}
.product{}
/*  */

.textbox .shop-title {
    color: #868e96;
    font-family: var(--font-pt);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: 240px; */
    margin: 0 0 8px;
    width: 240px;
}
.review {
    display: flex;
    font-size: 13px;
    margin-top: 10px;
    align-items: center;
}
.review .review-rating {
    margin: 0 2px;
}
.review .review-count {
    color: #868e96;
    font-family: var(--font-pt);
}
.timesale-card {
    color: #4864ff;
    background: #f1f3f5;
    margin: 8px 0 0;
    padding: 4px 0;
    width: 50px;
    font-size: 12px;
    font-family: var(--font-ps);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.viewmore {
    margin: 24px 16px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ddd 1px solid ;
    height: 48px;
    border-radius: 8px;
    font-family: var(--font-ps);
}

.sc-mans-summer {}
.sc-mans-summer .mans-sale-banner{
    margin: 16px;
}
.sc-mans-summer .mans-sale-banner a{
    display: block;
    height: 436px;
    background: url(https://cf.zibet.s.zigzag.kr/zibet-page-section/00095/9574-xc5umw4vleg) no-repeat 0 0/ 100%;
    border-radius: 10px;
    position: relative;
}
.sc-mans-summer .mans-sale-banner a h3{
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    padding: 0 24px;
    position: absolute;
    bottom: 20%;
    line-height: 35px;
    z-index: 99;
}
.sc-mans-summer .mans-sale-banner a::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(1turn,rgba(0,0,0,.5) -22.4%,transparent 58.53%);
    z-index: 10;
    border-radius: 10px;

}
.sc-mans-summer .mans-sale-banner a span{
    font-size: 15px;
    color: #fff;
    padding: 0 24px;
    position: absolute;
    bottom: 13%;
    z-index: 99;
}
.sc-mans-summer .mans-product-banner {
    overflow-x: scroll;
    overflow-y: hidden;
}
.sc-mans-summer .mans-product-banner ul{
    display: flex;
    margin: 0 16px;
    gap: 10px;
}

.sc-mans-summer .mans-product-banner ul li a{
    display: flex;
    align-items: center;

}
.sc-mans-summer .mans-product-banner ul li a .thumb{
    width: 100px;
    height: 100px;
}
.sc-mans-summer .mans-product-banner ul li a .thumb img {
    border-radius: 0;
}
.sc-mans-summer .mans-product-banner ul li a .textbox{
    padding: 0 12px;
    margin-top: 0;
}
.sc-mans-summer .mans-product-banner ul li{
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.sc-mans-summer .mans-product-banner ul .view-all {
    width: 100px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
.mans-product-banner ul .view-all a {

}
.mans-product-banner ul .view-all a .plus-icon {
    width: 40px;
    height: 40px;
    background: #f5f6f8;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mans-product-banner ul .view-all a .view-all-text{
    color: #868e96;
    font-size: 13px;
    font-family: var(--font-ps);
    margin-top: 6px;
}

.sc-summer-clearance {
    margin-top: 44px;
}
.clearance-sale-banner{
    margin: 0 16px;
}
.clearance-sale-banner .clearance-banner-container{
    position: relative;
}
.clearance-banner-container::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(1turn,rgba(0,0,0,.5) -22.4%,transparent 58.53%);
    z-index: 10;
    border-radius: 8px;
}
.clearance-sale-banner .clearance-banner-container img{
    border-radius: 8px;
}

.clearance-sale-banner .clearance-banner-container .textbox{
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 99;
    color: #fff;
    white-space: nowrap;
}
@media screen and (max-width:500px) {
    .clearance-sale-banner .clearance-banner-container .textbox {
        width: 310px;
    }
}

.clearance-sale-banner .clearance-banner-container .textbox h3{
    font-size: 26px;
    margin-bottom: 15px;
    white-space: nowrap;
}
.clearance-sale-banner .clearance-banner-container .textbox p{
    font-size: 15px;
    margin-bottom: 10px;
    white-space: nowrap;
}

.product-slider{
    margin: 12px 0 32px 16px;
    overflow: hidden;
}
.product-slider .slider-list{
    display: flex;
    gap: 10px;
}
.product-slider .slider-list .slider-item{}
.slider-list .slider-item .thumb{
    width: 160px;
    height: 160px;
    margin-bottom: 8px;
}
.slider-list .slider-item .coupon{
    color: #E4503c;
    font-size: 12px;
    margin: 4px 0 2px;
}
.slider-list .slider-item .dc-rate{
    margin: 0 6px 0 0;
    color: #e45a47;
    font-size: 14px;
    font-family: var(--font-ps);
}
.slider-list .slider-item .price{
    font-size: 14px;
    font-family: var(--font-ps);


}
.slider-list .slider-more {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
}
.slider-list .slider-more .plus-icon{
    transform: translateX(40px);
}

.sc-recommend-product {}
.sc-recommend-product::before {
    content: '';
    display: block;
    height: 12px;
    width: 100%;
    background: #f5f6f8;
    margin: 0;

}
.sc-recommend-product h2{
    padding: 19px 16px 16px 0;
}
.sc-recommend-product .recommend-nav{
    overflow: hidden;
    margin: 0 16px;

}
.recommend-nav .category-list{
    /* display: flex;

    font-family: var(--font-ps);
    color: #5e666e;
    font-size: 16px;
    padding: 8px 0; */
}
.recommend-nav .category-item{
    margin: 0 6px 0 0px;
    padding: 0 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.category-item.swiper-slide {
    width: auto;
}
.recommend-nav .category-item.on {
    color: #fff;
    background: #000;
    border-radius: 30px;
}
.recommend-nav .category-item a{
}
.recommend-nav .control-arrow {
    position: relative;
    width: 100%;
    display: none;
}
.recommend-nav:hover .control-arrow {
    display: block;
    z-index: 999;
}
.recommend-nav .control-arrow .prev{
    background: #fff;
    width: 30px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.recommend-nav .control-arrow .prev svg{
    transform: rotate(180deg);
}
.recommend-nav .control-arrow .next{
    background: #fff;
    width: 30px;
    height: 40px;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.recommend-nav .control-arrow .next svg{}

.recommend-product {}
.recommend-product .product-list{
    margin: 0 16px;
}
.recommend-product .product-item{
    position: relative;
    /* display: flex; */
    /* justify-content: space-between; */
}
.recommend-product .product-item + * {
    border-top: 1px solid #eee;
}
.recommend-product .product-item a{
    display: flex;
    gap: 10px;
    padding: 12px 0;
}
.recommend-product .product-item .thumb{
    width: 150px;
    height: 150px;
}
.recommend-product .product-item .thumb img{}
.recommend-product .product-item .textbox{
    flex: 1;
    min-width: 0;
}
.recommend-product .product-item .textbox .coupon{
    margin: 10px 0 5px;
}
.recommend-product .product-item .like-btn{
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    margin-right: 10px;
    position: absolute;
    bottom: 0;right: 0;
}
.like-btn.on svg path{
    fill: #E4503c;
    fill-opacity: 1;
    stroke: #E4503c;
}
.prod-more {
    margin: 16px 16px 8px;
    display: block;
    width: auto;
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-family: var(--font-ps);
    border: 1px solid #ddd;
    border-radius: 8px;
}
.prod-more svg{}
.prod-more p{
    color: #495057;
}
.prod-more span{
    color: #adb5bd;
}
.prod-more span strong{
    color: #495057;
}

.sc-slider-banner {
    overflow: hidden;
    padding: 0 16px;
    margin-top: 40px;
}

.top-btn {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 470px;
    z-index: 999;
}
@media (max-width:1025px) {
    .top-btn {
        left: auto;
        right: 30px;
        transform: translateX(0%);
        margin-left: auto;
    }
    
}